In [9]:
import pandas as pd

In [36]:
school_data = pd.read_csv("Resources/schools_complete.csv")
student_data = pd.read_csv("Resources/students_complete.csv")
log_file = pd.
        
school_data.head()

print("Total number of unique schools":)

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [54]:
merge_data = pd.merge(school_data,student_data,how="left",on=("school_name","school_name"))

In [45]:
print

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [69]:
#School count 
len(merge_data.school_name.unique())

15

In [86]:
# Calculate the total number of students
student_count=merge_data.student_name.count()
student_count

39170

In [77]:
# Calculate the total budget
sum(merge_data.budget)/100000

829323.29558

In [82]:
#average_math_score = 
merge_data["math_score"].mean()

78.98537145774827

In [83]:
# Calculate the average (mean) reading score
merge_data["reading_score"].mean()

81.87784018381414

In [108]:
merge_data[(merge_data["math_score"] >= 70)].count()

School ID        29370
school_name      29370
type             29370
size             29370
budget           29370
Student ID       29370
student_name     29370
gender           29370
grade            29370
reading_score    29370
math_score       29370
dtype: int64

In [115]:
merge_data[(merge_data.math_score >= 70)].count()["type"]

29370

In [116]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
#passing_math_count = merge_data[(merge_data["math_score"] >= 70)].count()["student_name"]
passing_math_count = (merge_data.math_score >= 70).count()
passing_math_percentage = passing_math_count / float(student_count) * 100

passing_math_percentage

100.0

In [103]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = merge_data[(merge_data["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count/float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [107]:
merge_data[(merge_data["reading_score"] >= 70) & (merge_data["math_score"] >= 70)].count()

School ID        25528
school_name      25528
type             25528
size             25528
budget           25528
Student ID       25528
student_name     25528
gender           25528
grade            25528
reading_score    25528
math_score       25528
dtype: int64

In [105]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = merge_data[(merge_data["reading_score"] >= 70) & (merge_data["math_score"] >= 70)].count()["student_name"]
passing_reading_math_percentage = passing_math_reading_count/float(student_count) * 100
passing_reading_math_percentage

65.17232575950983

In [118]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
#district_summary = 

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,f}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

NameError: name 'district_summary' is not defined